    /*Admin buttons*/

    #edit-btn-link {
        text-decoration: none;
    }

    .edit-btns-default-fixed {
        top: 18%;
    }

    .edit-btns-save-fixed,
    .edit-btns-edit-fixed {
        top: 9%;
    }


    .edit-btns-save-fixed,
    .edit-btns-edit-fixed,
    .edit-btns-default-fixed {
        left: 2%;
        position: fixed;
        background-color: black;
        color: white;
        font-size: 3em;
        z-index: 10000;
        padding: 1%;
    }

    .edit-btns {
        color: red;
        font-size: 3em;
        position: relative;
        left: 5%;
        top: 300px;
        font-size: 10em;
        z-index: 1;
    }
    /*images*/

    .textarea-style {
        background-color: lightgrey;
        color: black;
        font-size: 3em;
        max-width: 70%;
    }

    #animation_container {
        width: 1000px;
        height: auto;
    }


    .iframe-element {
        width: 100%;
        height: auto;
    }

    .inline {
        display: inline-flex;
    }

    .navbar {
        z-index: 1;
        opacity: .7;
        font-size: 2em;
        font-weight: 400;
    }
    /*gradient black*/

    .black-gradient {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
        background: #7d7e7d;
        /* Old browsers */
        background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);
        /* IE6-9 */
    }

    .blue-gradient {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100;Blue+Two+Sided+Transparent */
        background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799', GradientType=0);
        /* IE6-9 */
    }

    .blue-gradient-btn {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19458d+20,216ec7+50,19458d+80&0+0,0.8+42,1+49,0.8+56,0+100 */
        background: -moz-linear-gradient(top, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0019458d', endColorstr='#0019458d', GradientType=0);
        /* IE6-9 */
    }


    .top-layer {
        z-index: 100;
    }
    /*fontawesome icons*/

    .fa-long-arrow-down {
        color: white;
        font-size: 3em;
    }

    .fa-briefcase {
        left: 20%;
    }

    .fa-shopping-cart {
        left: 70%;
    }

    .fa-briefcase,
    .fa-shopping-cart {
        font-size: 15em;
        position: absolute;
        bottom: 100px;
        z-index: 1;
        color: turquoise;
        opacity: .7
    }

    .fa:hover {
        color: limegreen;
        background-color: black;
    }

    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background: url('css/bg.jpg') no-repeat;
        background-size: cover;
        transition: 1s opacity;
    }
    /*shadows*/

    .black-txt-shadow {
        text-shadow: 0 2px 0 black;
    }

    .white-txt-shadow {
        text-shadow: 0 2px 0 white;
    }
    /*text colors*/

    .white-txt {
        color: white;
    }

    .big-txt {
        font-size: 5em;
        font-weight: 100;
    }

    .txt-600 {
        font-weight: 600;
    }

    .xl-txt {
        font-size: 8em;
        font-weight: 300;
        text-shadow: 0 5px 0 black;
    }

    .opacity-9 {
        opacity: .9;
    }
    /* margins*/

    .margin-top-3 {
        margin-top: 3%;
    }

    .margin-top-10 {
        margin-top: 10%;
    }

    .margin-top-20 {
        margin-top: 20%;
    }

    .margin-top-15 {
        margin-top: 15%;
    }
    /*padding*/

    .pad-top-15 {
        padding-top: 15%;
    }

    .pad-10 {
        padding: 10%;
    }

    .pad-2 {
        padding: 2%;
    }
    /*borders*/

    .border-1-white {
        border: 1px solid;
        border-color: white;
    }
    /*radius*/

    .radius-100 {
        border-radius: 100%;
    }
    /*parallax*/

    .block {
        height: 1000px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(0, 0, 0, 0.5) url('css/bg.jpg') no-repeat center center;
        width: auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
    }

    .img-small {
        height: 50%;
        width: 50%;
    }

    .all-caps {
        text-transform: uppercase;
    }
    /*    media querys --------------------------------------------------->*/
    /*Iphones*/

    @media only screen and (max-width: 700px) {
        .big-txt {
            margin-top: 25%;
            font-size: 4em;
            font-weight: 100;
        }
        video {
            display: none;
        }
        #root {
            background: url('css/bg.jpg') no-repeat;
        }
        .edit-btns-default-fixed {
            top: 20%;
        }
        .edit-btns-save-fixed,
        .edit-btns-edit-fixed {
            top: 13%;
        }
        .edit-btns-default-fixed,
        .edit-btns-save-fixed,
        .edit-btns-edit-fixed {
            font-size: 1.5em;
        }


        .fa-briefcase,
        .fa-shopping-cart {
            font-size: 5em;
        }
    }
    /*Ipads/laptops*/

    @media only screen and (min-width: 501px) {}