                                         /*
                                        * ---------------------------------***-----------------------------------|
                                        *      JsFramework Copywrite Dan Weatherbee 2018   *
                                        *           Create your own css sheet for Mock ups.        *
                                        *                 and add them inside helmet js.                   *
                                         *|=====    DON'T MESS WITH THIS ONE     ======|*
                                        *                         WEBSITE DEFAULT                         *
                                        *                             ****    CSS    ****                            *
                                        *                                      ====                                     *
                                        * -----------------------------------------------------------------------|
                                         */
.white-txt {
    color: white;
}
.font-weight-bold {
    font-weight: 900;
}

.font-large {
    font-size: 300%;
}

.font-xl {
    font-size: 15em;
    padding: 5%;
}

.margin-body-top-5 {
    margin-top: 5%;
}

.black-txt-shadow {
    text-shadow: 0 2px 0 black;
}

 .main-parallax-video {
     position: fixed;
     top: 50%;
     left: 50%;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -100;
     transform: translateX(-50%) translateY(-50%);
     background: url('css/bg.jpg') no-repeat;
     background-size: cover;
     transition: 1s opacity;
}
 #root {
     width: 100%;
     height: auto;
     background-color: black
}
 .iframe-pretty {
     height: 500px;
     width: 50%;
     background: url('css/bg.jpg') no-repeat;
     position: fixed;
     top: 275px;
     left: 25%;
}
 #game-play-btn {
     max-width: 510px;
     position: fixed;
     top: 85%;
     left: 36.50%;
     z-index: 1000;
}
 #player-dw-root {
     height: auto;
     width: auto;
     text-align: center;
}
 .loading {
     color: turquoise;
     text-shadow: 0 1px 0 black;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19458d+20,216ec7+50,19458d+80&0+0,0.8+42,1+49,0.8+56,0+100 */
     background: -moz-linear-gradient(top, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
    /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0019458d', endColorstr='#0019458d', GradientType=0);
    /* IE6-9 */
}
 .ipad {
     border-style: solid;
     border-width: 130px 55px 130px;
     -moz-border-image: url('css/tablet-bg.png') 130 55 130 repeat;
     -webkit-border-image: url('css/tablet-bg.png') 130 55 130 repeat;
     -o-border-image: url('css/tablet-bg.png') 130 55 130 repeat;
     border-image: url('css/tablet-bg.png') 130 55 130 fill repeat;
}
 .ipad-big {
     text-align: center;
     border-width: 5px 70px 5px;
     -moz-border-image: url('css/tablet-bg.png') 50 3 50 repeat;
     -webkit-border-image: url('css/tablet-bg.png') 50 3 50 repeat;
     -o-border-image: url('css/tablet-bg.png') 50 3 50 repeat;
     border-image: url('css/tablet-bg.png') 50 3 50 fill repeat;
}
 .img-size-50 {
     width: 8%;
     height: auto;
     display: inline-flex;
}
 .textarea-style {
     margin-top: 4%;
     font-size: 24px;
     max-width: 95%;
}
 .navbar {
     z-index: 1;
     font-size: 2em;
     font-weight: 400;
}
 .blue-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100;
     Blue+Two+Sided+Transparent */
     background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
    /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799', GradientType=0);
    /* IE6-9 */
     background-color: black;
}
 .blue-gradient-btn {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19458d+20,216ec7+50,19458d+80&0+0,0.8+42,1+49,0.8+56,0+100 */
     background: -moz-linear-gradient(top, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
    /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0019458d', endColorstr='#0019458d', GradientType=0);
    /* IE6-9 */
     background-color: black;
}
 .black-txt-shadow {
     text-shadow: 0 2px 0 black;
}
 .white-txt-shadow {
     text-shadow: 0 2px 0 white;
}
 @font-face {
     font-family: openSans;
     src: url(fonts/OpenSans-CondLight.ttf);
}
 .font-1 {
     font-family: openSans;
}
 .font-2 {
     font-family: arial;
}
 @media only screen and (max-width: 700px) {
     #root {
         background: url('css/bg.jpg') no-repeat;
    }
     .ipad {
         border: 0 solid;
         background: inherit;
    }
     .img-size-50 {
         width: 20%;
    }
     .iframe-pretty {
         height: 650px;
         width: 100%;
         background: url('css/bg.jpg') no-repeat;
         position: absolute;
         top: 100px;
         left: 0;
    }
}
