/*Admin buttons*/

.edit-btns-default-fixed {
    top: 13%;
}

.edit-btns-edit-fixed {
    top: 5%;
}

.edit-btns-save-fixed {
    top: 5%;
}

.edit-btns-save-fixed,
.edit-btns-edit-fixed,
.edit-btns-default-fixed {
    left: 2%;
    position: fixed;
    background-color: black;
    color: white;
    font-size: 3em;
    z-index: 10000;
    padding: 1%;
}

.fa-long-arrow-down {
    color: white;
    font-size: 3em;
}


.edit-btns {
    color: red;
    font-size: 3em;
}

.textarea-style {
    background-color: lightgrey;
    color: black;
    font-size: 3em;
    max-width: 70%;
}

#header {
    background: url('css/bg.jpg') no-repeat center center;
    height: 985px;
}

.black-txt-shadow {
    text-shadow: 0 2px 0 black;
}

.red-txt-shadow {
    text-shadow: 0 2px 0 red;
}

.white-txt-shadow {
    text-shadow: 0 1px 0 white;
}

.white-txt {
    color: white;
}

.big-txt {
    font-size: 5em;
}

.pad-15 {
    padding: 15%;
}

.pad-2 {
    padding: 2%;
}

.border-1-white {
    border: 1px solid;
    border-color: white;
}

.radius-100 {
    border-radius: 100%;
}